main h1 {
    margin: 2rem;
    text-align: center;
    font-size: 8rem;
    color: var(--white);
}

main>section {
    background-color: var(--white-pure);
    margin: 1rem;
    padding: 2rem 5rem;
    width: calc(80vw - 10rem);
    box-shadow: var(--boxshadow-effect);

    &>h2 {
        font-size: 2rem;
        font-weight: bold;
    }

    &>form {
        margin: 1rem;

        /* ACTUALITES */
        &>.container_actualites {
            display: grid;
            grid-template-columns: 1fr;
            border: 1px solid black;
            padding: 1em;

            &>* {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                margin: 1rem;
                
                @media screen and (max-width: 850px) {
                    flex-direction: column;
                    border: 1px solid black;
                    &>* {
                        margin: 0.5rem 0;
                    }
                }
            }

            &>article>textarea {
                resize: none;
            }

        }

        /* MEDIAS */
        &>.container_medias {
            display: grid;
            grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
            grid-gap: 10px;
            border: 1px solid black;
            padding: 1em;

            &>article {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                &>h3 {
                    text-align: center;
                }

                &>input[type='text'] {
                    height: 2rem;
                    padding: 0 0.5rem;
                }

                &>textarea {
                    resize: none;
                    height: 1rem;
                    padding: 0.5rem;
                }
            }
        }
    }
    
}