/* Couleurs */

:root {
    --bg: #2B2B2B;
    --bg-header-1: rgb(228, 228, 228);
    --bg-header-2: rgb(143, 155, 184);
    --bg-navbar: rgb(136, 144, 153);
    --bg-footer: rgb(143, 155, 184);
    --white: rgb(190, 190, 190);
    --white-transparent: rgba(0, 0, 0, 0.25);
    --white-pure: rgba(255, 255, 255, 0.9);
    --primary: rgb(50, 206, 154);
    --placeholder: rgb(106, 102, 108);
    --placeholder-2: rgb(39 66 109);;
    --gradient-effect: radial-gradient(circle, rgba(44,44,193,0.75) 0%, rgb(18, 23, 37) 100%);
    --boxshadow-effect: rgba(50, 50, 93, 0.5) 0px 30px 60px -10px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}





/* Suppression bordures */

* {
    margin: 0;
    padding: 0;
}





/* Main commun */
main {
    min-height: 55vh;
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    align-items: center;
}




/* Textes */


.link,
.link:visited {
    color: rgb(0, 100, 255);
}
