footer {
    min-height: 20vh;
    background-color: var(--bg-footer);
    display: grid;
    grid-template-columns: 1fr 4fr 4fr;

    @media screen and (max-width: 850px) {
        grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    }
}

/* Partie Gauche */
#footer_medias {
    height: calc(20vh - 2em);
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    @media screen and (max-width: 850px) {
        flex-direction: row;
    }
}

#footer_medias .icon {
    height: 4vh;
}


/* Partie Centrale */
#footer_informations {
    height: calc(20vh - 2em);
    padding: 1em;
}

#footer_informations img {
    height: 75%;
    margin: 0.5em;
}

/* Partie Droite */
#footer_map {
    height: calc(20vh - 2em);
    display: flex;
    justify-content: center;
    padding: 1em;
}

#footer_map .container_contacts {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#footer_map .icon {
    width: 3vh;
}

#footer_map p {
    font-size: 1rem;
    text-align: center;
}

#map {
    height: 100%;
    width: 25vw;
    margin-left: 1em;
}


@media screen and (max-width: 850px) {
    #footer_map #map {
        display: none;
    }
}
