/* --------------------------------------------------- Barre de Recherche */

#section_research_bar {
    width: 100%;
    height: 10%;

    display: flex;
    justify-content: center;

    background-color: red;
}

#research_bar {
    margin: 1em;
    padding: 0.5em;
    border-radius: 20px;
    font-size: 100%;
}


/* --------------------------------------------------- Galerie */

#espace_contenu {
    width: 60vw;

    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    grid-gap: 25px;

    background-color: azure;
    box-shadow: var(--boxshadow-effect);
    border: 1px solid black;
    border-radius: 5px;
    margin: 2vh;
    padding: 2%;

    &>.card_media {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        background-image: var(--gradient-effect-2);
        
        border-radius: 10px;
    }

    &>.card_media>img {
        width: 100%;
    }
    &>.card_media>p {
        text-align: center;
    }
}
