section {
    margin: 0 0 2rem 0;
    z-index: 1;
}


/* ---------------------------------------- Espace réservation */

.parallax {
    background-image: url(../Images/background_reservation.jpg);
    height: 50vh;
    width: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: sticky;
    top: 0;
}

/* logo background */
main .logo_background {
    
    width: 60%;
    height: 20vh;
    background-image: url(../Images/logo-tempo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/* bouton "Réserver un terrain" */
main .logo_background .btn_reservation {
    /* font-size: 1em; */
    padding: 1em;
    background-color: #eeeeee;
    border: 0.5px solid black;
    border-radius: 5px;
    cursor: pointer;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

main .logo_background .btn_reservation:hover {
    background-color: #dbdbdb;
}

main .logo_background .btn_reservation:active {
    background-color: #eeeeee;
}


/* ---------------------------------------- Bannière des actualités */
main .news_bar {
    width: 100%;
    height: 10vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

/* Carousel */


/* ensemble du carousel */
.swiper {
    width: 100%;
    height: 10vh;
}

/* page du carousel */
.swiper-slide {
    background-image: url(../Images/carousel/carousel-1.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* contenu de la page */
.swiper-caption {
    background-color: rgba(240, 255, 255, 0.75);
    border-radius: 10px;
    padding: 2em;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 60%;
}

.swiper-caption>p,
.swiper-caption>a {
    font-size: large;
    text-align: center;
}

.swiper-button-prev,
.swiper-button-next {
    border-radius: 20%;
    background-color: #E4E4E4;
    padding: 0.5em;
}


/* ---------------------------------------- Espace informations */
main .home_informations {
    width: 80%;
    margin-bottom: 2vh;
    background-color: azure;
    border-radius: 10px;
    display: flex;
}

@media screen and (max-width: 850px) {
    main .home_informations {
        flex-direction: column;
        align-items: center;
    }

}

main .home_informations p {
    padding: 2em;
    text-align: center;
    width: 50%;
}

@media screen and (max-width: 850px) {
    main .home_informations p {
        width: 80%;
    }
}